__pycache__/
*.pyc
.venv/
dist/
*.egg-info/
.pytest_cache/
*.db
*.sqlite
htmlcov/
.coverage
*.db-shm
*.db-wal
.idea
# test runner logs
err.log
out.log
# Cython 编译产物
src/pulsemq/serialization/_df_msgpack.c
src/pulsemq/serialization/_df_msgpack.cp*
src/pulsemq/serialization/_df_msgpack.pyd
src/pulsemq/serialization/_df_msgpack.so
build/
